// New Zald

@font-face {
  font-family: 'newzald-black';
  src: url(../../assets/fonts/Newzald-Black.otf);
}

// Input Mono

@font-face {
  font-family: 'inputmono-reg';
  src: url(../../assets/fonts/InputMonoCondensed-Regular.ttf);
}

@font-face {
  font-family: 'inputmono-italic';
  src: url(../../assets/fonts/InputMonoCondensed-Italic.ttf);
}

@font-face {
  font-family: 'inputmono-bold';
  src: url(../../assets/fonts/InputMonoCondensed-Bold.ttf);
}

// Mark

@font-face {
  font-family: 'mark-regular';
  src: url(../../assets/fonts/MarkBook.otf);
}

@font-face {
  font-family: 'mark-medium';
  src: url(../../assets/fonts/MarkMedium.otf);
}

@font-face {
  font-family: 'mark-black';
  src: url(../../assets/fonts/MarkBlack.otf);
}
